.warehouse-manager {
    background-color: #f8f8f8; 
    position: relative;
  }
  
  .warehouse-manager .container {
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
  }
  
  .app-bar {
    background-color: #3f51b5; /*  Пример цвета */
  }
  
  .drawer-paper {
    width: drawerWidth; 
  }
  
  .drawer-header {
    display: flex;
    align-items: center;
    padding: 20px; 
  }

  .details-container .detail-item span {
    white-space: nowrap; /*  Запрещаем перенос текста */
  }
  
  /*  Отступы для кнопок в таблице запросов */
  .MuiTableCell-root .MuiButton-root {
    margin-right: 8px; /*  Отступ справа */
  }